@charset "utf-8";
/******************************************
foundation
*******************************************/
body{
    font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
    background: whitesmoke;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: darkslategray;
}
a:hover{
    color: blue;
}
/******************************************
header
*******************************************/
/***********
タイトルロゴ
*/
/*PC用*/
.title-logo{
    margin: 5px 20px;
    
    font-family: 'Patrick Hand', cursive;
    font-size: 5rem;
}

/*スマホ用*/
@media screen and (max-width:768px){
    .title-logo{
        font-size: 2rem;
    }
}
/*
タイトルロゴ
***********/
/***********
メインメニュー
*/
/*
PC用
*/
.main-menu{
    margin-left: 20px;
}
.main-menu ul{
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.main-menu ul li{
    float: left;
    padding: 3px;
}

.main-menu ul li:hover{
    background-color: lightgray;
}

.main-menu ul li a{
    display: block;
    padding: 5px;
    color: gray;
    font-size: 14px;
    text-decoration: none;
}

.main-menu ul li a:hover{
    color: blue
}
/*スマホ用*/
@media screen and (max-width:768px){
    .main-menu ul{
        list-style:none;
    }

    .main-menu ul li{
        float: none;
        text-align: center;
    }

    .main-menu ul li a{
        width: 100%;
        padding: 10px 0;
        font-size: 12px;
    }
}
/*
メインメニュー
***********/

/******************************************
main
*******************************************/
/*********************
BoxLayout----------------
*********************/
.box2-A{
    display: block;
    clear: both;
}
.box2-1{
    float: left;
    width: 49%;
}

.box2-2{
    float: left;
    width: 49%;
}
.box2-B{
    display: block;
    clear: both;
}
.box2-3{
    float: left;
    width: 49%;
}
.box2-4{
    float: left;
    width: 49%;
}
/*
スマホ用
*/
@media screen and (max-width:768px) {
    .box2-A{
        display: block;
        clear: both;

        margin-left: 0;
    }
    .box2-1{
        float: none;
        width: 100%;
    }
    .box2-2{
        float: none;
        width: 100%;
    }
    .box2-B{
        display: block;
        clear: both;

        margin-left: 0;
    }
    .box2-3{
        float: none;
        width: 100%;
    }
    .box2-4{
        float: none;
        width: 100%;
    }
}
/*********************
----------------BoxLayout
*********************/
.portfolio{
    margin-left: 20px;
    margin-right: 20px;
}
.po_title{
    padding-top: 15px;
    padding-left: 10px;
}
.po_box{
    margin: 3px;

    padding-bottom: 10px;

    border-radius: 10px;
}
.po_vet{/*ポートフォリオ・獣医師ゾーン*/
    background-color: lightsalmon;
}
.po_coder{/*ポートフォリオ・Web制作ゾーン*/
    background-color: lightblue;
}
.po_entertain{/*ポートフォリオ・エンタメゾーン*/
    background-color: lightyellow;
}
.po_invest{/*ポートフォリオ・資産運用ゾーン*/
    background-color: gold;
}
.po_caption{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
/******************************************
footer
*******************************************/
.box3{
    margin-left: 20px;

    clear: both;
}